@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.nav-link{
	margin-right: 10px;
	transition: 0.5s;
	font-size: 15;
	font-family: Times, sans-serif;
	
}
.navbar-brand{
	color: black;
	letter-spacing: 0.5px;
	/*background-image:style=url('back.jpg');*/
}
h2{
	color: black;
	letter-spacing: 0px;
	font-family: 'Rubik', sans-serif;
}

